body{
    margin:0;
    font-family:sans-serif;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    height: 6em;
    background-color: #e60012;
}
svg{
    margin:2em 1em;
    fill:white;
}
nav ul{
    margin:1.5em;
    display: flex;
}
nav li{
    margin:0 1em;
    color:white;
    text-align: center;
    list-style: none;
}
nav li p{
    margin:0;
}
i{
    font-size:1.7em;
}
/*Aside*/
.aside{
    position: fixed;
    width: 5em;
    background-color: #bf0010;
    height: -webkit-fill-available;
}
.aside svg{
    margin:1em 0 0 0;
}
.aside p{
    margin:.5em;
}
.aside article{
    border-radius: 0 2em 0 0;
    color:white;
    border:1px solid green;
    background:#e60012;
    text-align: center;
    transition:.1s background-color;
}
.aside article:hover{
    background-color: #bf0010;
}